<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Maket_2018.Properties.Settings.MaketConnectionString"
            connectionString="Data Source=DESKTOP-UQRTEF9\SQLEXPRESS;AttachDbFilename=&quot;E:\4 семестр\DATABASE\КУРСАЧ\Maket.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Maket_2018.Properties.Settings.MaketConnectionString1"
            connectionString="Data Source=DESKTOP-UQRTEF9\SQLEXPRESS;Initial Catalog=Maket;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>